@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Smooth transitions */
* {
  @apply transition-all duration-200;
  transition: all 0.3s ease-in-out;
}

::selection {
  background-color: #d6e7ed;
  color: black; /* Opcional: define a cor do texto */
}

::-moz-selection {
  background-color: #d6e7ed;
  color: black; /* Opcional para Firefox */
}
.animate-scroll {
  will-change: transform;
}
.hover-transition {
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
section {
  contain: layout paint;
}
